!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Order Again
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/c5cf7b0a67.js"}

    -# %link{:href => "/images/favicon_io/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    -# %link{:href => "/images/favicon_io/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    -# %link{:href => "/images/favicon_io/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    -# %link{:href => "/images/favicon_io/site.webmanifest", :rel => "manifest"}/



  %body.text-center
    = render 'shared/header'
    = render 'shared/flash'

    .page-body
      = yield

    = render 'shared/footer'
